#formRadio2, #formRadio3, #formRadio4, #formRadio5, #formRadio6, #formRadio7,
#showResult, #javaScriptResult, #pythonResult, #cSharpResult, #sqlResult,
#btnReset, #noResult {
  display: none;
}

.img{
  width: 200px;
}

.card-smaller {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  width: 400px;
}

.card-footer2 {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  width: 400px;
}

.btn-success2 {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  width: 350px;
}

.btn-warning2 {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
  width: 350px;
}